/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */



.container {
	width: 100%;
	display: flex;
	flex-direction: column;

	
}

.nav {
	display: flex;
	justify-content: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	
	
}

@media( max-width: 600px ) {
	.nav {
		flex-direction: column;
		justify-content: center;
	}
}
@media( max-width: 600px) {
.nav :nth-child(7) {
	display: flex;
	order: -1;
  }
}

@media( max-width: 600px ) {
	.nav a {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: solid 1px gray;
		
	}
}

.nav a {
	text-decoration: none;
	color : grey;
}

@media( max-width: 600px ) {
	.nav a:first-child {
		border-top: solid 1px gray;
	}
}

.trip  {
		
		display: flex;
		width: 100%;
		vertical-align: top;
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0;
		font-size: 75px;
		padding-left: 260px;
		text-align: center;
		justify-content: space-between;
		margin-bottom: 50px;
		padding-bottom: 40px;
		border-bottom: solid black;
	
	}

@media ( max-width: 600px ) {
	.trip {
		padding-left: 0px;
		justify-content: baseline;
	}
}

@media ( max-width: 600px ) {
	.trip img {
		display: none;
	}
}

.trip h1 {
	margin-left: 90px;
	
}

.trip p {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

button {
	
	
	width: 150px;
	height: 40px;
	border-radius: 10px;
	margin-left: 90px;
	text-color: black;
	
}

.circle {
	display: flex;
	vertical-align: top;
	
	margin-left: 300px;
}












.nav a{
	
	margin-left: 30px;
	margin-right: 30px;
}

/* .trip {
	margin-top: 70px;
	padding-bottom: 50px;
	border-bottom: solid black;
	display: inline-block;
	width: 100%;
} */

.two {
	margin-left: 100px;
}

.three {
	margin-left: 30px;
}

.top-content {
	margin-top: 100px;
	margin-bottom: 50px;
	
	
}

.content1 {
	display: inline-block;
	width: 30%;
	margin-bottom: 0px;
	

}

.content2 {
	display: inline-block;
	
	width: 30%;
	vertical-align: top
}


 body h2 {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	width: 271.5%;
}

.about {
	display: inline-block;
	vertical-align: top;
}

body {
	text-align: center;
}

.content3 {
	display: inline-block;
	width: 20%;
	margin-right: 20px;
}

.content4 {
	display: inline-block;
	width: 20%;
}

.content5 {
	display: inline-block;
	width: 20%;
	margin-left: 20px;
}

.bottom-content {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 40px;
	border-bottom: solid black;
}

.middle-img {
	vertical-align: middle;
}

.address {
	display: inline-block;
	width: 30%;
	margin-right: 700px;
	vertical-align: top;
	text-align: left;
	margin-bottom: 100px;
	
}

.contact {
	font-family: 'Bangers', cursive;
	font-size: 16px;
	margin-bottom: 10px;
}

.street {
	//margin-bottom: 10px;
}

.country {
	margin-bottom: 10px;
}

.number {
	margin-bottom: 10px;
}

.email {
	color: white;
	margin-bottom: 10px;
}